.page {
  // height: 1000vh;
  position: relative;
  overflow: hidden;
  // background: linear-gradient(135deg, #aa3bb1, #582a7e);
  // background: linear-gradient(135deg, #582a7e, #121212);
  .header-logo {
    position: absolute;
    top: 0;
    
    .logo {
      position: absolute;
      top: 10px;
      left: 20px;
      font-size: 12rem;
      font-weight: 800;
      opacity: .1;
    }
  }
  .back-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 8;
    bottom: 24px;
    right: 24px;
    padding: 12px 14px;
    background-color: rgba(12, 12, 12, 0.4);
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    transition: all .5s ease-in-out;
    img {
      width: 16px;
    }
  }

  .welcome-page {
    position: relative;
    width: 100%;
    height: 100vh;
    transition: all 2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .box-content {
      border: 1px solid white;
      padding: 12px 38px;
      box-sizing: border-box;
      // background-color: #4a2667;
      width: 84vw;
      min-height: 480px;
      display: flex;
      align-items: center;

      &__desc {
        text-align: left;
        .title-header {
          font-size: 3rem;
          transition: all .5s;
        }
        .desc {
          margin-bottom: 24px;
        }
        .button-custom {
          position: relative;
          display: inline-block;
          border: 2px solid #ffffff;
          padding: 12px 16px;
          min-width: max-content;
          height: min-content;
          text-decoration: none;
          color: #fff;

          &::before {
            content: "";
            position: absolute;
            top: 6px;
            left: -3px;
            width: calc(100% + 6px);
            height: calc(100% - 12px);
            background: #121212;
            transition: all .5s ease-in-out;
            transform: scaleY(1);
          }

          &::after {
            content: "";
            position: absolute;
            left: 6px;
            top: -3px;
            height: calc(100% + 6px);
            width: calc(100% - 12px);
            background: #121212;
            transition: all .5s ease-in-out;
            transform: scaleX(1);
          }

          &:hover {
            &::before {
              transform: scaleY(0);
            }
            &::after {
              transform: scaleX(0);
            }
          }

          span {
            position: relative;
            z-index: 3;
          }
        }
      }
    }
    .box-about {
      position: absolute;
      bottom: 0;
      width: 78vw;
      margin-top: 38px;
      opacity: 0;
      transition: opacity .5s, transform .8s ease-in-out;

      &__title {
        font-size: 4rem;
        opacity: .9;
      }
      &__desc {
        text-align: justify;
      }
    }
  }
  .about-page {
    width: 100%;
    height: 500px;
    display: none;
    background: blueviolet;
    // @media only screen and (min-width: 768px) {
    //   display: none;
    // }
  }
  .education-page {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 100vh;
    max-height: max-content;
    height: auto;
    // background: linear-gradient( transparent, #582a7e);
    background: linear-gradient(0deg, rgba(88,42,126,1) 74%, rgba(18,18,18,0) 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .wrapper {
      display: grid;
      position: relative;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: calc(100% - 40px);

      @media only screen and (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
      }
      @media only screen and (max-width: 648px) {
        grid-template-columns: 1fr;
      }
      .column {
        padding: 12px;
        .card {
          background-color: #4a2667;
          color: #fff;
          overflow: hidden;
          border-radius: 8px;
          width: 100%;
          height: 100%;
          transition: all .6s ease-in-out;
          box-shadow: 0 30px 50px -20px rgb(46, 6, 66);

          &__header {
            background-color: rgba(18, 18, 18, 0.2);
            width: 100%;
            padding: 1rem 2rem;
          }
          &__body {
            padding: 1rem 2rem;
          }
        }
      }
    }
    .swipe-wrapper {
      position: relative;
      padding: 0 4rem;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .card-slider {
        background-color: #4a2667;
        overflow: hidden;
        border-radius: 8px;
        // width: calc(100% / 4);
        width: 100%;
        max-width: 400px;
        margin: 16px 12px;
        // margin: 16px 0;
        transition: all .6s ease-in-out;
        box-shadow: 0 30px 50px -20px rgb(46, 6, 66);

        &.float-card {
          position: absolute;
          z-index: 10;
          width: 48vw;
          height: 100%;
          min-height: 480px;
          left: 50%;
          transform: translate(-50%, 0);
        }

        &__header {
          background-color: rgba(18, 18, 18, 0.2);
          width: 100%;
          padding: 1rem 2rem;
        }
        &__body {
          padding: 1rem 2rem;
        }
      }
    }
    .box-skill {
      margin-top: 62px;
      &__title {
        text-align: center;
        color: #fff;
      }
      .box-grid {
        display: flex;
        flex-wrap: wrap;
        .card {
          img {
            width: 80px;
            margin: 12px;
            transition: all .3s ease-in-out;

            &:hover {
              transform: translateY(-1.5rem) scale(1.5);
            }
          }
        }
      }
    }
  }
  .experience-page {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 100vh;
    max-height: min-content;
    height: min-content;
    // background: linear-gradient(0deg, transparent, #582a7e);
    background: linear-gradient(0deg, rgba(18,18,18,0) 0%, rgba(88,42,126,1) 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .box-content {
      .header-experince {
        transition: all .5s ease-in-out;

        .menu-experience {
          height: 0;
          overflow: hidden;
          font-size: 8rem;
          font-weight: 800;
          color: #fff;
          margin: auto;
          position: relative;
          transition: height .7s ease-out;

          @media only screen and (max-width: 768px) {
            font-size: 6rem;
          }
          @media only screen and (max-width: 560px) {
            font-size: 4.5rem;
          }
          @media only screen and (max-width: 448px) {
            font-size: 3.6rem;
          }
  
          &.show-text {
            height: 192px;
            @media only screen and (max-width: 768px) {
              height: 130px;
            }
            @media only screen and (max-width: 560px) {
              height: 100px;
            }
            @media only screen and (max-width: 425px) {
              height: 92px;
            }
          }
        }
  
        .box-stage {
          opacity: 0;
          height: 40px;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          transition: all .5s ease-out;
          .click-btn {
            color: #fff;
            align-self: flex-end;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            transform-origin: bottom;
            cursor: pointer;
  
            &.bounce-normal {
              animation-name: bounce-normal;
              animation-timing-function: ease;
            }
          }
        }
      }
      .box-data {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        transition: all .5s ease-in-out;
        @media only screen and (max-width: 648px) {
          height: 70vh;
        }
        .wrapper {
          display: grid;
          position: relative;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          width: calc(100% - 40px);

          @media only screen and (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
          }
          @media only screen and (max-width: 648px) {
            grid-template-columns: 1fr;
          }
          @media only screen and (max-width: 648px) {
            overflow-y: auto;
          }
          .column {
            padding: 12px;
            .card {
              color: #fff;
              background-color: #4a2667;
              overflow: hidden;
              border-radius: 8px;
              width: 100%;
              height: 100%;
              transition: all .6s ease-in-out;
              box-shadow: 0 30px 50px -20px rgb(46, 6, 66);
              @media only screen and (max-width: 648px) {
                box-shadow: none;
              }
  
              &__header {
                background-color: rgba(18, 18, 18, 0.2);
                width: 100%;
                padding: 1rem 2rem;
              }
              &__body {
                padding: 1rem 2rem;
                &__text {
                  margin-bottom: 4px;
                }
              }
            }
          }
        }
      }
    }
    .box-other {
      position: absolute;
      bottom: 10px;
      display: flex;
      justify-content: center;
      &__items {
        margin: 0 1rem;
        opacity: .1;
        cursor: pointer;
        transition: opacity .5s ease-in-out;
        
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.logo-page {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 12rem;
  font-weight: 800;
  opacity: .1;
}

// .float-card {
//   position: absolute;
//   width: 48vw;
//   height: 100%;
//   min-height: 480px;
//   left: 50%;
//   transform: translate(-50%, 0);
// }